
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0)
}

/* Стили для основной страницы */

html {
  height: 100%;
}

body {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  margin: 0;
  min-height: 100%;
  /* outline: 5px solid rgba(255, 99, 78, 0.5);
  outline-offset: -5px; */
  width: 1200px;
}

.main-header,
.main-footer {
  background: #FFFFFF;
}

.main-header {
  padding: 0 72px;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.main-nav .nav-list {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 461px;
  padding-right: 69px;
  justify-content: flex-start;
  align-items: center;

}

.main-nav .buttons-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  flex-basis: 459px;
  padding-left: 69px;
}

.buttons-list li {
margin: 14px 0 14px 20px;
}

.main-nav .sedona-logo {
  display: block;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

.main-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-list a {
  display: block;
  font-size: 20px;
  line-height: 26px;
  text-decoration: none;
  font-weight: 700;
  color: #000000;
  margin: 20px 33px 20px 0;
}

.basic-button,
.subscribe-submit {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.search-button,
.favourite-button {
  background-color: transparent;
}

.buttons-list .wish-button {
  font-size: 16px;
  width: 160px;
  height: 37px;
  background-color: #756257;
  border-radius: 4px;
}

.promo-welcome {
  width: 1200px;
  height: 485px;
  background: #83B3D3 url("../img/promo-background.jpg") no-repeat;
  overflow: auto;
}

.promo-welcome img {
  display: block;
  margin: 51px auto 82px auto;
}

.promo-description {
  width: 1200px;
  height: 282px;
  background: #FFFFFF;
}

.promo-description h1 {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.promo-description p {
  font-size: 22px;
  line-height: 36px;
  text-align: center;
}

.advantages ol,
.advantages-list ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.advantages-list h3,
.advantages-list h4 {
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  color: #000000;
}

.advantages-list p {
  text-align: center;
}

.card-blue-text {
  color: #FFFFFF;
  background: #83B3D3;
}

.card-blue-text h3 {
  color: #FFFFFF;
}

.card-gray {
  background: rgba(151, 207, 245, 0.2);
}

.hotels::before {
  content: "";
  display: inline-block;
  width: 75px;
  height: 72px;
  background: url("../img/icon-hotels.svg");
}

.card-white {
  background: #FFFFFF;
}

.card-white::before {
  content: "";
  display: inline-block;
  width: 74px;
  height: 70px;
  background: url("../img/icon-food.svg");
}

.souvenirs::before {
  content: "";
  display: inline-block;
  width: 64px;
  height: 76px;
  background: url("../img/icon-souvenirs.svg");
}

.card-light {
  background: rgba(131, 179, 211, 0.12)
}

.hotel-search {
  width: 1200px;
  height: 417px;
  background: #FFFFFF;
}

.hotel-search h2,
.subscribe h2 {
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
}

.hotel-search h2 {
  color: #000000;
}

.hotel-search p,
.subscribe p {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.hotel-search .hotel-button {
  font-size: 20px;
  width: 575px;
  height: 60px;
  background: #756257;
  border-radius: 10px;
}

.subscribe {
  width: 1200px;
  height: 411px;
}

.subscribe-main {
  color:#FFFFFF;
  background: #b5babd url("../img/subscribe-background.jpg") no-repeat;
}

.subscribe .subscribe-submit {
  font-size: 20px;
  width: 200px;
  height: 60px;
  background: #83B3D3;
  border-radius: 0px 10px 10px 0px;
}

.subscribe .subscribe-field {
  width: 600px;
  height: 60px;
  background: #F2F2F2;
  border-radius: 10px 0px 0px 10px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color:rgba(0, 0, 0, 0.6);
}

.main-footer .social-list{
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-footer .academy-phone {
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

.main-footer .academy-phone:hover {
  color: #756257;
}

/* Стили для каталога */

.hotel-filter {
  color: #FFFFFF;
  width: 1200px;
  background: #83B3D3 url("../img/filter-background.jpg") no-repeat;
}

.hotel-filter h1 {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.hotel-filter ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.breadcrumbs-list a {
  font-size: 16px;
  line-height: 21px;
}

.group-title {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
}

.group-list-item span,
.catalogue-price-label {
  font-size: 18px;
  line-height: 23px;
}

.catalogue-price-label span {
  opacity: 0.3;
}

.catalogue-price-input {
  color: #FFFFFF;
  background: transparent;
  border: 2px solid #FFFFFF;
  border-radius: 4px;
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
}

.catalogue-button-accept,
.catalogue-button-reset {
  width: 160px;
  height: 48px;
  border-radius: 4px;
}

.catalogue-button-accept {
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
  background: #83B3D3;
}

.catalogue-button-reset {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  background: transparent;
  text-transform: none;
}

.hotel-sorting h2 {
  font-size: 30px;
  line-height: 39px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.catalogue-cards-list,
.pagination-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.card-description a {
  text-decoration: none;
  color: #000000;
}

.card-description h3 {
  font-size: 24px;
  line-height: 31px;
  font-weight: 700;
}

.card-description .about-button {
  display: inline-block;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  text-align: center;
  padding: 8px 0;
  text-transform: uppercase;
  color: #FFFFFF;
  width: 151px;
  height: 37px;
  background: #756257;
  border-radius: 4px;
}

.card-description .to-favourite {
  display: inline-block;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  text-align: center;
  padding: 8px 0;
  text-transform: uppercase;
  color: #FFFFFF;
  width: 160px;
  height: 37px;
  background: #83B3D3;
  border-radius: 4px;
}

.card-description .out-favourite {
  background: #7DB54F;
}

.card-description p {
  line-height: 23px;
}

.card-rating p {
  display: inline-block;
  box-sizing: border-box;
  font-size: 16px;
  text-transform: uppercase;
  width: 160px;
  height: 37px;
  line-height: 21px;
  padding: 8px 0;
  background: #F2F2F2;
  border-radius: 4px;
  text-align: center;
}

.catalogue-cards .more-cards {
  display: inline-block;
  box-sizing: border-box;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  width: 625px;
  height: 55px;
  text-decoration: none;
  line-height: 26px;
  padding: 15px 0;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #83B3D3;
  border-radius: 4px;
}

.pagination-list .pagination-link {
  display: inline-block;
  box-sizing: border-box;
  text-decoration: none;
  text-align: center;
  line-height: 26px;
  font-size: 20px;
  font-weight: 700;
  padding: 15px 0;
  color: #FFFFFF;
  width: 55px;
  height: 55px;
  background: #83B3D3;
  border-radius: 4px;
}

.pagination-list .pagination-current {
  color: #000000;
}

.cards-quantity .quantity-text {
  line-height: 23px;
}

.subscribe-inner {
  background: #FFFFFF;
}

.subscribe-inner h2 {
  color: #000000;
}

