
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0)
}

/* Стили для основной страницы */

html {
  height: 100%;
}

body {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  margin: 0;
  height: 100%;
  background: #E5E5E5;
}

.content-container {
  width: 1200px;
  margin: 0 auto;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  background: #FFFFFF;
}

.main-header,
.main-footer {
  background: #FFFFFF;
}

.main-header {
  padding: 0 59px;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.main-nav .nav-list {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  padding-right: 69px;
  justify-content: flex-start;
  align-items: center;
}

.main-nav .buttons-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  width: 50%;
  padding: 13px 13px 14px 69px;
}

.buttons-list > li {
  margin-left: 23px;
}

.buttons-list > li:nth-child(2){
  margin-left: 1px;
}

.main-nav .sedona-logo {
  display: block;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 1;
}

.sedona-logo:focus-visible {
  outline: 3px solid #83B3D3;
  outline-offset: 0;
}

.main-nav > ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-list li {
  margin-right: 9px;
  padding: 15px 0 18px;
}

.nav-list li:last-child {
  margin-right: 0;
}

.nav-list a {
  font-size: 20px;
  line-height: 26px;
  text-decoration: none;
  font-weight: 700;
  color: #000000;
  padding: 6px 12px;
  border-radius: 10px;
}

.nav-list a[href]:hover {
  color: #756257;
}

.nav-list a[href]:active {
  color: #756257;
  opacity: 0.3;
  outline: none;
}

.nav-list a:focus-visible {
  color: #756257;
  outline: 3px solid #83B3D3;
  outline-offset: 0;
}

.list-item-current a {
  text-decoration: underline;
  text-underline-offset: 24px;
  text-decoration-color: #756257;
  text-decoration-thickness: 2px;
}

.basic-button,
.subscribe-submit {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  border-width: 0;
  padding: 0;
  cursor: pointer;
}

.search-button,
.favourite-button {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  border-radius: 10px;
  padding: 11px 10px 9px;
}

.search-button:hover path,
.favourite-button:hover path {
  fill: #756257;
}

.search-button:focus-visible,
.favourite-button:focus-visible {
  outline: 3px solid #83B3D3;
  outline-offset: -3px;
}

.search-button:active,
.favourite-button:active {
  outline: none;
}

.search-button:focus-visible path,
.favourite-button:focus-visible path {
  fill: #756257;
}

.search-button:active path,
.favourite-button:active path {
  fill: #756257;
  opacity: 0.3;
}

.favourite-button:active .favourite-counter {
  color:rgba(255, 255, 255, 0.3)
}

.favourite-button {
  position: relative;
}

.favourite-button .favourite-counter {
  display: block;
  position: absolute;
  top: 1px;
  right: -3px;
  width: 13px;
  height: 13px;
  padding: 3px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 13px;
  color: #FFFFFF;
  background-color: #7DB550;
  border-radius: 50%;
}

.favourite-popup:hover .popup-window,
.favourite-popup:hover .favourite-button:before {
  display: block;
}

.favourite-popup:focus-visible .popup-window,
.favourite-popup:focus-visible .favourite-button:before {
  display: block;
}

.popup-window {
  display: none;
  position: absolute;
  z-index: 1;
  top: 62px;
  right: 13px;
  width: 400px;
  border-radius: 20px;
  background-color: #ffffff;
  box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.15);
}

.favourite-button:before {
  content: "";
  display: none;
  position: absolute;
  z-index: 2;
  top: 44px;
  right: 12px;
  width: 14px;
  height: 14px;
  background-color: #ffffff;
  box-shadow: -1px -1px 0px #E4E4E4;
  transform: rotate(45deg);
}

.favourite-hotels {
  list-style: none;
  margin: 0;
  padding: 14px 14px 16px;
  background-color: #FFFFFF;
  border: 1px solid #E6E6E6;
  border-bottom: none;
  border-radius: 20px 20px 0 0;
}

.popup-block {
  margin: 0;
}

.favourite-list {
  padding-inline-start: 0;
}

.favourite-list .list-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.favourite-list .list-item:last-child {
  margin-bottom: 0;
}

.favourite-list .list-item-description {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #000000;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.list-item-description img {
  display: block;
  margin-right: 17px;
}

.list-item-description:hover {
  opacity: 0.6;
}

.list-item-description:focus-visible {
  outline: 3px solid #83B3D3;
  outline-offset: -3px;
}

.list-item-description:active {
  opacity: 0.3;
  outline: none;
}

.list-item button {
  align-self: flex-start;
  background: none;
  padding: 0;
  border: none;
  outline: none;
  padding-top: 7px;
}

.item-delete svg {
  padding: 10px;
  outline: 3px solid transparent;
  outline-offset: -3px;
  border-radius: 10px;
}

.item-delete:hover g,
.item-delete:focus-visible g {
  opacity: 1;
}

.item-delete:focus-visible svg {
 outline-color: #83B3D3;
}

.item-delete:active g {
  opacity: 0.1;
  outline: none;
}

.favourite-list h3,
.favourite-list p {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 21px;
}

.favourite-list p {
  color: #333333;
  font-size: 16px;
}

.favourite-all {
  display: block;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
  text-decoration: none;
  text-align: center;
  padding: 20px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  background: #756257;
  color: #ffffff;
  border-radius: 0 0 20px 20px;
}

.favourite-all:hover {
  background-color: #615048;
}

.favourite-all:focus-visible {
  background-color: #615048;
  outline: 3px solid #83B3D3;
  outline-offset: 0;
}

.favourite-all:active {
  background-color: #615048;
  color: rgba(255, 255, 255, 0.3);
  outline: none;
}

.buttons-list .wish-button {
  font-size: 16px;
  line-height: 21px;
  width: 160px;
  background-color: #756257;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 8px;
}

.wish-button:hover {
  background-color: #615048;
}

.wish-button:focus-visible {
  background-color: #615048;
  outline: 3px solid #83B3D3;
  outline-offset: 0;
}

.wish-button:active {
  background-color: #615048;
  color: rgba(255, 255, 255, 0.3);
  outline: none;
}

.main-index,
.main-inner {
  flex-grow: 1;
}

.promo-welcome {
  position: relative;
  height: 352px;
  background: #83B3D3 url("../img/promo-background.jpg") no-repeat;
  padding: 51px 0 82px 0;
}

.promo-welcome img {
  display: block;
  margin: 0 auto;
}

.promo-welcome::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 57px;
  left: 50%;
  bottom: 0;
  background: url("../img/welcome-divider.svg") no-repeat;
  transform: translate(-50%, 0);
}

.promo-description {
  background: #FFFFFF;
  padding: 61px 20px 79px 20px;
}

.promo-description h1 {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  margin: 0 auto 33px auto;
  width: 720px;
}

.promo-description p {
  font-size: 22px;
  line-height: 37px;
  text-align: center;
  margin: 0 auto;
  width: 720px;
}

.advantages ol,
.advantages-list ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.advantages-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.first-line {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column: 1/-1;
}

.first-line .card-blue-picture {
  grid-column: span 2;
}

.card-blue-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column: 1/4;
}

.second-line {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column: 1/-1;
}

.second-line .card-blue-picture {
  grid-column: span 2;
}

.advantages-list h3,
.advantages-list h4 {
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  color: #000000;
}

.advantages-list p {
  text-align: center;
}

.card-blue-text {
  color: #FFFFFF;
  background: #83B3D3;
  padding-top: 97px;
}

.card-blue-picture img {
  display: block;
}

.card-blue-text h3 {
  color: #FFFFFF;
  width: 200px;
  margin: 0 auto 29px auto;
}

.card-text {
  width: 220px;
  margin: 0 auto;
}

.card-number {
  margin: 0 auto 30px auto;
}

.card-blue-list li {
  padding: 81px 0 90px 0;
  text-align: center;
}

.card-gray {
  background: rgba(151, 207, 245, 0.2);
}
.card-blue-list li:before {
  content: "";
  display: inline-block;
  width: 75px;
  height: 80px;
  background-position: center bottom;
  background-repeat: no-repeat;
  margin-bottom: 20px;
}

.hotels::before {
  background: url("../img/icon-hotels.svg");
}

.card-white {
  background: #FFFFFF;
}

.card-white::before {
  background: url("../img/icon-food.svg");
}

.souvenirs::before {
  background: url("../img/icon-souvenirs.svg");
}

.card-light {
  background: rgba(131, 179, 211, 0.12);
}

.card-blue-list h4 {
  margin: 0 0 18px 0;
}

.card-blue-list p {
  margin: 0 auto;
}

.card-common {
  padding-top: 98px;
  padding-bottom: 109px;
}

.card-common h3 {
  margin: 0 auto 27px auto;
  width: 150px;
}

.card-common p {
  width: 250px;
  margin: 0 auto;
}

.card-common .card-number {
  margin: 0 auto 30px auto;
}

.hotel-search {
  width: 1058px;
  background: #FFFFFF;
  padding: 89px 71px 91px;
}

.hotel-search h2,
.subscribe h2 {
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
}

.hotel-search h2 {
  color: #000000;
  margin: 0 auto 30px auto;
}

.hotel-search p,
.subscribe p {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.hotel-search p {
 width: 720px;
 margin: 0 auto 59px auto;
}

.hotel-search .hotel-button {
  display: block;
  font-size: 20px;
  width: 575px;
  line-height: 36px;
  background: #756257;
  border-radius: 10px;
  margin: 0 auto;
  padding: 12px;
  box-sizing: border-box;
}

.hotel-search .hotel-button:hover {
  background-color: #615048;
}

.hotel-search .hotel-button:focus-visible {
  background-color: #615048;
  outline: 3px solid #83B3D3;
  outline-offset: 0;
}

.hotel-search .hotel-button:active {
  background-color: #615048;
  color: rgba(255, 255, 255, 0.3);
  outline: none;
}

.modal-container {
  position: fixed;
  z-index: 1;
  display: flex;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  background: rgba(242, 242, 242, 0.8);
}

.modal-container-close {
  display: none;
}

.hotel-search-popup {
  margin: auto;
  width: 575px;
  padding: 70px;
  padding-top: 62px;
  background-color: #FFFFFF;
  border-radius: 30px;
}

.popup-close {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 54px;
}

.popup-close h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
  text-transform: uppercase;
  color: #000000;
  padding: 0;
  margin: 0;
}

.popup-close button {
  display: flex;
  background-color: #F2F2F2;
  padding: 20px;
  border-radius: 50%;
  border: 3px solid transparent;
}

.popup-close button:hover {
  background-color: #E6E6E6;
}

.popup-close button:focus {
  border-color: #83B3D3;
  outline: none;
}

.popup-close-button:active path {
  fill-opacity: 0.3;
}

.hotel-search-popup form {
  width: 575px;
}

.hotel-search-popup input {
  display: block;
  padding: 0;
  margin: 0;
}

.hotel-search-popup .block-common {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-between;
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 40px;
  color: #000000;
  margin-bottom: 40px;
}

.arrival-block input,
.departure-block input {
  width: 380px;
  height: 50px;
  background: #F2F2F2;
  border: 3px solid transparent;
  border-radius: 4px;
  padding: 0 40px 0 19px;
  font: inherit;
}

.block-common input::placeholder {
  font: inherit;
  color: #000000;
  opacity: 0.6;
}

.block-common .choose-date {
  display: block;
  position: absolute;
  top: 14px;
  right: 10px;
  opacity: 0.3;
  border: none;
  padding: 3px;
  background: none;
  border: 3px solid transparent;
  border-radius: 4px;
  cursor: pointer;
}

.block-common .choose-date:focus {
  border-color: #83B3D3;
  outline: none;
  opacity: 1;
}

.arrival-block input:hover,
.departure-block input:hover {
  background: #E6E6E6;
}

.arrival-block input:focus,
.departure-block input:focus {
  border-color: #83B3D3;
  background: #E6E6E6;
  outline: none;
}

.arrival-block input:not(:placeholder-shown),
.departure-block input:not(:placeholder-shown) {
  border-color: #000000;
  background: #FFFFFF;
  color: #000000;
  outline: none;
}

.persons-block .adults-block {
  justify-content: flex-end;
  width: 265px;
  margin-bottom: 0;
}

.persons-block label {
  margin-right: auto;
}

.persons-block .children-block {
  justify-content: flex-end;
  width: 230px;
  margin-bottom: 0;
}

.children-block span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  color: #FFFFFF;
  background-color: #83B3D3;
  border-radius: 50%;
  margin-right: 18px;
}

.persons-block input {
  width: 27px;
  height: 44px;
  background: #F2F2F2;
  border: 3px solid transparent;
  font: inherit;
  text-align: center;
}

.persons-block input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.persons-block input:focus {
  border-color: #83B3D3;
  outline: none;
}

.persons-block button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border: none;
  background: #F2F2F2;
  cursor: pointer;
}

.button-reduce {
  border-radius: 4px 0 0 4px;
}

.button-increase {
  border-radius: 0 4px 4px 0;
}

.button-reduce svg {
  border: 3px solid transparent;
  border-radius: 4px;
  padding: 9px 3px;
}

.button-increase svg {
  border: 3px solid transparent;
  border-radius: 4px;
  padding: 3px;
}

.persons-block button:hover path,
.persons-block button:hover g {
  opacity: 1;
}

.persons-block button:focus svg {
  border-color: #83B3D3;
}

.persons-block button:focus {
  outline: none;
}

.persons-block button:focus path,
.persons-block button:focus g {
  opacity: 1;
}

.persons-block button:active path,
.persons-block button:active g {
  opacity: 0.2;
}

.hotel-search-popup .start-search {
  display: block;
  width: 575px;
  box-sizing: border-box;
  font-size: 20px;
  line-height: 40px;
  border: 3px solid transparent;
  background: #83B3D3;
  border-radius: 10px;
}

.hotel-search-popup .start-search:hover {
  background-color: #68A2CA;
}

.hotel-search-popup .start-search:focus-visible {
  background-color: #68A2CA;
  border-color: #756257;
  outline: none;
}

.hotel-search-popup .start-search:active {
  background-color: #68A2CA;
  color: rgba(255, 255, 255, 0.3);
  outline: none;
}

.subscribe-main {
  color:#FFFFFF;
  padding: 92px 0 94px;
  background: #b5babd url("../img/subscribe-background.jpg") no-repeat;
}

.subscribe-main h2 {
  margin: 0 auto 30px auto;
}

.subscribe-main p {
  width: 500px;
  margin: 0 auto 47px auto;
}

.subscribe form {
  display: flex;
  justify-content: center;
}

.subscribe .subscribe-submit {
  font-size: 20px;
  line-height: 26px;
  padding: 17px 10px;
  width: 200px;
  background: #83B3D3;
  border-radius: 0px 10px 10px 0px;
}

.subscribe .subscribe-submit:hover {
  background: #68A2CA;
}

.subscribe .subscribe-submit:focus-visible {
  background: #68A2CA;
  outline: 3px solid #756257;
}

.subscribe .subscribe-submit:active {
  background: #68A2CA;
  color: rgba(255, 255, 255, 0.3);
  outline: none;
}

.subscribe .subscribe-field {
  width: 600px;
  height: 60px;
  box-sizing: border-box;
  background: #F2F2F2;
  border-radius: 10px 0px 0px 10px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color:rgba(0, 0, 0, 0.6);
  border: 3px solid transparent;
  padding: 0 19px;
}

.subscribe .subscribe-field:hover {
  background: #E6E6E6;
}

.subscribe .subscribe-field:focus-visible {
  background: #E6E6E6;
  outline: 3px solid #83B3D3;
}

.subscribe .subscribe-field:not(:placeholder-shown) {
  border-color: #000000;
  outline: 3px solid #83B3D3;
  background: #FFFFFF;
  color: #000000;
}

.subscribe-field-invalid {
  border-color: #FF5757;
  background: #FFFFFF;
}

.main-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 19px 49px 25px;
}

.main-footer-block {
  width: 30%;
}

.main-footer div:nth-of-type(2) {
  width: 40%;
  text-align: center;
}

.main-footer div:last-of-type {
  padding: 5px 0 1px;
}

.main-footer .social-list{
  display: flex;
  align-items: flex-end;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-left: 12px;
  padding-top: 1px;
}

.social-item {
  margin-right: 3px;
}

.social-item:nth-child(2) {
  margin-right: 5px;
}

.social-item:last-child {
  margin-right: 0;
}

.social-item svg {
  display: block;
}

.social-link {
  display: block;
  padding: 10px;
  border-radius: 10px;
}

.social-link:hover path,
.social-link:focus-visible path {
  fill: #68A2CA;
}

.social-link:focus-visible {
  outline: 3px solid #83B3D3;
  outline-offset: -3px;
}

.social-link:active {
  opacity: 0.3;
  outline: none;
}

.main-footer-block .academy-phone {
  display: inline-block;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  margin: 0 auto;
  outline-offset: -3px;
  border-radius: 10px;
  padding: 15px;
}

.academy-phone:hover {
  color: #756257;
}

.academy-phone:focus-visible {
  color: #756257;
  outline: 3px solid #83B3D3;
}

.academy-phone:active {
  opacity: 0.3;
  outline: none;
}

.main-footer-block .academy-logo {
  display: block;
  width: 115px;
  padding: 18px 23px;
  margin-left: auto;
  border-radius: 10px;
}

.academy-logo svg {
  display: block;
}

.academy-logo:hover path {
  fill: #756257;
}

.academy-logo:focus-visible {
  outline: 3px solid #83B3D3;
  outline-offset: -3px;
}

.academy-logo:focus-visible path {
  fill: #756257;
}

.academy-logo:active {
  opacity: 0.3;
  outline: none;
}

/* Стили для каталога */

.hotel-filter {
  color: #FFFFFF;
  background: #83B3D3 url("../img/filter-background.jpg") no-repeat;
  padding: 32px 72px 72px;
}

.inner-header {
  margin-bottom: 45px;
}

.inner-header h1 {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  margin: 0;
  margin-bottom: -3px;
  padding: 0;
}

.hotel-filter ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.breadcrumbs-list {
  display: flex;
  justify-content: flex-start;
}

.breadcrumbs-list-item {
  position: relative;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 21px;
  margin-right: 22px;
}

.breadcrumbs-list a {
  display: block;
  text-decoration: none;
  border-radius: 4px;
  color: #FFFFFF;
}

.breadcrumbs-list-item:not(:first-child) a {
  padding: 0 5px;
}

.breadcrumbs-list-item::after {
  position: absolute;
  top: 9px;
  right: -14px;
  content: "";
  width: 5px;
  height: 5px;
  transform: rotate(45deg);
  box-shadow:
  1px -1px 0 0 rgba(255, 255, 255, 0.6),
  1px -1px 0 0 rgba(255, 255, 255, 0.6);
}

.breadcrumbs-list-item:last-child::after {
  content: none;
}

.breadcrumbs-list-item a:hover {
  opacity: 0.6;
}

.breadcrumbs-list-item a:focus-visible {
  outline: 3px solid #83B3D3;
  outline-offset: 0px;
}

.breadcrumbs-list-item a:active{
  opacity: 0.3;
  outline: none;
}

.catalogue-filter {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.catalogue-filter .catalogue-group {
  width: 197px;
  padding: 0;
  margin: 0;
  margin-right: 20px;
  border: none;
}

.group-list .group-list-item {
  margin-bottom: 10px;
}

.catalogue-filter fieldset:nth-of-type(2) {
  width: 292px;
}

.group-title {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  margin-bottom: 29px;
  padding: 0;
}

.control-label,
.catalogue-price-label {
  font-size: 18px;
  line-height: 26px;
}

.control {
  position: relative;
  display: block;
  padding-left: 39px;
}

.control-mark {
  position: absolute;
  top: 2px;
  left: 0;
  width: 20px;
  height: 20px;
  background: #FFFFFF;
  border-radius: 4px;
}

.control-input[type="checkbox"]:checked + .control-mark::before,
.control-input[type="checkbox"]:checked + .control-mark::after {
  position: absolute;
  background-color: #3F5E72;
  content: "";
}

.control-input[type="checkbox"]:checked + .control-mark::before {
  width: 7px;
  height: 2px;
  top: 11px;
  left: 3px;
  transform: rotate(46deg);
}

.control-input[type="checkbox"]:checked + .control-mark::after {
  width: 12px;
  height: 2px;
  top: 14px;
  left: 7px;
  transform: rotate(-50deg);
  transform-origin: left top;
}

.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  background-color: #3F5E72;
  border-radius: 50%;
  content: "";
}

.control-input[type="checkbox"]:hover + .control-mark {
  opacity: 0.6;
}

.control-input[type="checkbox"]:focus-visible + .control-mark {
  opacity: 0.6;
  outline: 3px solid #83B3D3;
  outline-offset: 0;
}

.control-input[type="checkbox"]:active + .control-mark {
  opacity: 0.3;
  outline: none;
}

.control-input[type="radio"]:focus-visible + .control-mark {
  outline: 3px solid #83B3D3;
  outline-offset: 0;
}

.catalogue-price {
  display: block;
  margin: 0;
  padding: 0;
  border: none;
  width: 287px;
  margin-right: 81px;
}

.catalogue-price .group-title {
  margin-bottom: 35px;
}

.range-scale {
  position: relative;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.3);
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #FFFFFF;
}

.range-toggle {
  display: block;
  padding: 0;
  position: absolute;
  width: 20px;
  height: 20px;
  background: #FFFFFF;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.toggle-min {
  top: -8px;
  left: 0;
}

.toggle-max {
  top: -8px;
  right: -10px;
}

.range-toggle:hover {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.range-toggle:focus-visible {
  outline: 3px solid #83B3D3;
  outline-offset: 0;
}

.range-toggle:active {
  outline: 2px solid #83B3D3;
  outline-offset: 0;
}

.range-wrapper-inputs {
  display: flex;
  position: relative;
  justify-content: center;
  margin-bottom: 28px;
  z-index: 1;
}

.catalogue-price-label {
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 50%;
  top: 0;
  bottom: 0;
  text-align: right;
  padding-right: 15px;
  box-sizing: border-box;
  line-height: 45px;
  opacity: 0.3;
  z-index: 2;
}

.label-left {
  left: 0;
}

.label-right {
  right: 0;
}

.catalogue-price-input {
  display: block;
  box-sizing: border-box;
  z-index: 1;
  color: #FFFFFF;
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  background: transparent;
  padding: 0 17px;
  padding-right: 35px;
  width: calc(50% - 1px);
  height: 48px;
  border: 2px solid #FFFFFF;
}

.catalogue-price-input::-webkit-outer-spin-button,
.catalogue-price-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.catalogue-price-input::placeholder {
  color: #FFFFFF;
}

.input-left {
  border-radius: 4px 0 0 4px;
  border-right: none;
}

.input-right {
  border-radius: 0 4px 4px 0;
  width: calc(50% + 1px);
}

.input-left:hover,
.input-left:focus-visible {
  width: calc(50% + 1px);
  border-right: 2px solid #FFFFFF;
}

.input-left:hover ~ .input-right,
.input-left:focus-visible ~ .input-right {
  width: calc(50% - 1px);
  border-left: none;
}

.catalogue-price-input:hover {
  border-color: rgba(255, 255, 255, 0.6);
}

.catalogue-price-input:focus-visible {
  box-shadow: inset 0px 0px 0px 3px #81B3D2;
  outline: 3px solid #83B3D3;
}

.input-left:hover ~ .input-right:focus-visible {
  width: calc(50% + 3px);
  border-left: 2px solid #FFFFFF;
}

.catalogue-price-input:not(:placeholder-shown) {
  background: #756257;
  /* box-shadow: inset 0px 0px 0px 3px #81B3D2;
  outline: 3px solid #83B3D3; */
}

.catalogue-accept {
  padding-top: 61px;
}

.catalogue-button-accept,
.catalogue-button-reset {
  display: block;
  padding: 14px 10px;
  border-radius: 4px;
}

.catalogue-button-accept {
  font-size: 16px;
  line-height: 20px;
  width: 160px;
  text-transform: uppercase;
  background: #83B3D3;
  margin-bottom: 18px;
}

.catalogue-button-accept:hover {
  background: #68A2CA;
}

.catalogue-button-accept:focus-visible {
  background: #68A2CA;
  outline: 3px solid #FFFFFF;
  outline-offset: 0;
}

.catalogue-button-accept:active {
  outline: none;
  background: #68A2CA;
  color: rgba(255, 255, 255, 0.3);
}

.catalogue-button-reset {
  width: 94px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  padding: 2px 10px;
  margin: 0 auto;
  background: transparent;
  text-transform: none;
}

.catalogue-button-reset:hover {
  color: rgba(255, 255, 255, 0.6);
}

.catalogue-button-reset:focus-visible {
  outline: 3px solid #83B3D3;
  outline-offset: 0;
}

.catalogue-button-reset:active {
  outline: none;
  color: rgba(255, 255, 255, 0.3);
}

.hotel-sorting {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 43px 72px 42px;
}

.hotel-sorting h2 {
  flex-grow: 1;
  font-size: 30px;
  line-height: 39px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
  margin-top: 0;
  margin-bottom: 0;
}

.sorting-type {
  margin-right: 83px;
}

.select-control {
  width: 287px;
  height: 48px;
  border: 2px solid #E6E6E6;
  box-sizing: border-box;
  border-radius: 4px;
  font: inherit;
  appearance: none;
  padding-left: 19px;
  color: #333333;
  background-image: url("../img/dropdown.svg");
  background-repeat: no-repeat;
  background-position: right 17px center;
  outline: none;
}

.select-control:hover,
.select-control:focus {
  border-color: #83B3D3;
}

.select-control:active {
  opacity: 0.3;
}

.view-mode {
  display: flex;
  justify-content: space-between;
}

.view-mode a {
  display: block;
  width: 48px;
  height: 48px;
  box-sizing: border-box;
  padding: 16px 14px;
  border: 2px solid #E6E6E6;
  border-radius: 4px;
  margin-right: 8px;
  outline: none;
}

.view-mode img {
  display: block;
}

.view-mode a:last-child {
  margin-right: 0;
}

.view-mode .current-view {
  border-color: #000000;
}

.view-mode a:hover,
.view-mode a:focus {
  border-color: #83B3D3;
}

.view-mode a:active {
  border-color: #000000;
}

.catalogue-cards {
  padding-bottom: 30px;
}

.catalogue-cards-list,
.pagination-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.catalogue-cards-list {
  padding: 0 72px;
}

.catalogue-cards-list .card-item {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  border-top: 1px solid #E6E6E6;
  padding: 28px 0 29px 0;
}

.catalogue-cards-list li:last-child {
  border-bottom: 1px solid #E6E6E6;
  margin-bottom: 31px;
}

.card-image {
  margin-right: 24px;
}

.card-image img {
  display: block;
}

.card-image:hover {
  opacity: 0.6;
}

.card-image:focus-visible {
  outline: 3px solid #83B3D3;
  outline-offset: 0;
}

.card-image:active {
  opacity: 0.3;
  outline: none;
}

.card-description a {
  text-decoration: none;
  color: #000000;
}

.card-description-name {
  padding: 7px 12px;
}

.card-description-name:hover {
 color: #756257;
}

.card-description-name:focus-visible {
  border-radius: 10px;
  color: #756257;
  outline: 3px solid #83B3D3;
  outline-offset: 0px;
}

.card-description-name:active {
  color: #756257;
  opacity: 0.3;
  outline: none;
}

.card-description h3 {
  font-size: 24px;
  line-height: 31px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 1px;
}

.card-description-text {
  display: flex;
  justify-content: flex-start;
  padding-left: 12px;
}

.card-description-text p {
  line-height: 23px;
  margin: 0 0 31px 0;
}

.card-description .about-button {
  display: block;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  width: 151px;
  padding: 8px;
  background: #756257;
  border-radius: 4px;
  margin-right: 8px;
}

.card-description .about-button:hover,
.card-description .about-button:focus-visible {
  background-color: #615048;
}

.card-description .about-button:focus-visible {
  outline: 3px solid #83B3D3;
  outline-offset: 0;
}

.card-description .about-button:active {
  background-color: #615048;
  color: rgba(255, 255, 255, 0.3);
  outline: none;
}

.card-description .to-favourite {
  display: block;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  text-align: center;
  padding: 8px;
  text-transform: uppercase;
  color: #FFFFFF;
  width: 160px;
  background: #83B3D3;
  border-radius: 4px;
}

.card-description .to-favourite:hover {
  background-color: #68A2CA;
  box-shadow: inset 0 0 0 1px #756257;
}

.card-description .to-favourite:focus-visible {
  outline: 3px solid #756257;
  background-color: #68A2CA;
  outline-offset: 0;
}

.card-description .to-favourite:active {
  background-color: #68A2CA;
  box-shadow: inset 0 0 0 1px #756257;
  color: rgba(255, 255, 255, 0.3);
  outline: none;
}

.card-description .out-favourite {
  background: #7DB54F;
}

.card-description .out-favourite:hover {
  background-color: #6C9E42;
  box-shadow: none;
}

.card-description .out-favourite:focus-visible {
  background-color: #6C9E42;
  outline: 3px solid #756257;
  outline-offset: 0;
}

.card-description .out-favourite:active {
  background-color: #6C9E42;
  color: rgba(255, 255, 255, 0.3);
  outline: none;
}

.card-rating {
  margin-left: auto;
  text-align: center;
}

.card-rating p {
  box-sizing: border-box;
  font-size: 16px;
  text-transform: uppercase;
  width: 160px;
  height: 37px;
  line-height: 21px;
  padding: 8px 0;
  background: #F2F2F2;
  border-radius: 4px;
  text-align: center;
}

.star-amount,
.rating-number {
  margin: 0;
}

.star-amount {
  margin-bottom: 59px;
}

.catalogue-cards .more-cards {
  display: block;
  box-sizing: border-box;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  width: 625px;
  padding: 15px;
  text-decoration: none;
  line-height: 25px;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #83B3D3;
  border-radius: 4px;
  margin: 0 auto;
}

.catalogue-cards .more-cards:hover {
  background: #68A2CA;
}

.catalogue-cards .more-cards:focus-visible {
  background: #68A2CA;
  outline: 3px solid #756257;
  outline-offset: 0;
}

.catalogue-cards .more-cards:active {
  background: #68A2CA;
  color: rgba(255, 255, 255, 0.3);
  outline: none;
}

.pagination {
  padding: 0 72px 87px;
}

.pagination-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #E6E6E6;
  padding-top: 30px;
}

.pagination-list {
  display: flex;
}

.pagination-list li {
  margin-right: 8px;
}

.pagination-list li:last-child {
  margin-right: 0;
}

.pagination-list .pagination-link {
  display: block;
  box-sizing: border-box;
  text-decoration: none;
  text-align: center;
  line-height: 26px;
  font-size: 20px;
  font-weight: 700;
  padding: 15px 0;
  color: #FFFFFF;
  width: 55px;
  height: 55px;
  background: #83B3D3;
  border-radius: 4px;
}

.pagination-list .pagination-current {
  color: #000000;
  background-color: #F2F2F2;
}

.pagination-link:hover:not(.pagination-current) {
  background-color: #68A2CA;
}

.pagination-link:focus-visible {
  background-color: #68A2CA;
  outline: 3px solid #756257;
  outline-offset: 0;
}

.pagination-link:active:not(.pagination-current) {
  background-color: #68A2CA;
  color: rgba(255, 255, 255, 0.3);
  outline: none;
}

.quantity-text {
  line-height: 23px;
  margin-right: 47px;
}

.quantity-control {
  width: 160px;
  padding-left: 15px;
}

.subscribe-inner {
  background: #FFFFFF;
  padding: 0 200px 138px;
}

.subscribe-inner h2 {
  color: #000000;
  margin-top: 0;
  margin-bottom: 30px;
}

.subscribe-inner p {
  margin-top: 0;
  margin-bottom: 47px;
}


